In [1]:

from pyspark.sql import SparkSession

# Initialize Spark Session
spark = SparkSession.builder \
    .appName("LocalSparkSQL") \
    .config("spark.sql.shuffle.partitions", "4") \
    .getOrCreate()

In [2]:
df = spark.read.csv("salesdaily.csv", header=True, inferSchema=True)
df.createOrReplaceTempView("salesdaily")
df.show()

+---------+-----+-----+-----+-----+----+----+----+---+----+-----+----+------------+
|    datum|M01AB|M01AE|N02BA|N02BE|N05B|N05C| R03|R06|Year|Month|Hour|Weekday Name|
+---------+-----+-----+-----+-----+----+----+----+---+----+-----+----+------------+
| 1/2/2014|  0.0| 3.67|  3.4| 32.4| 7.0| 0.0| 0.0|2.0|2014|    1| 248|    Thursday|
| 1/3/2014|  8.0|  4.0|  4.4| 50.6|16.0| 0.0|20.0|4.0|2014|    1| 276|      Friday|
| 1/4/2014|  2.0|  1.0|  6.5|61.85|10.0| 0.0| 9.0|1.0|2014|    1| 276|    Saturday|
| 1/5/2014|  4.0|  3.0|  7.0| 41.1| 8.0| 0.0| 3.0|0.0|2014|    1| 276|      Sunday|
| 1/6/2014|  5.0|  1.0|  4.5| 21.7|16.0| 2.0| 6.0|2.0|2014|    1| 276|      Monday|
| 1/7/2014|  0.0|  0.0|  0.0|  0.0| 0.0| 0.0| 0.0|0.0|2014|    1| 276|     Tuesday|
| 1/8/2014| 5.33|  3.0| 10.5| 26.4|19.0| 1.0|10.0|0.0|2014|    1| 276|   Wednesday|
| 1/9/2014|  7.0| 1.68|  8.0| 25.0|16.0| 0.0| 3.0|2.0|2014|    1| 276|    Thursday|
|1/10/2014|  5.0|  2.0|  2.0| 53.3|15.0| 2.0| 0.0|2.0|2014|    1| 276|      Friday|
|1/11/2014|  5.0| 4.34| 10.4| 52.3|14.0| 0.0| 1.0|0.2|2014|    1| 276|    Saturday|
|1/12/2014|  2.0| 0.66|  2.5| 12.0| 8.0| 0.0| 1.0|1.0|2014|    1| 276|      Sunday|
|1/13/2014| 7.34| 7.66|  6.2| 52.0| 9.0| 0.0| 7.0|1.0|2014|    1| 276|      Monday|
|1/14/2014|  6.0| 1.33| 12.3| 33.7| 6.0| 1.0| 0.0|2.0|2014|    1| 276|     Tuesday|
|1/15/2014|  4.0| 2.34|  5.0| 26.7|12.0| 2.0| 3.0|3.0|2014|    1| 276|   Wednesday|
|1/16/2014|  6.0|  2.0|  4.3| 28.3|19.0| 1.0| 5.0|0.0|2014|    1| 276|    Thursday|
|1/17/2014|  2.0| 3.68|  8.3| 20.4|15.0| 0.0| 6.0|3.0|2014|    1| 276|      Friday|
|1/18/2014|  1.0| 5.33|  5.8| 43.2|15.0| 4.0| 7.0|2.0|2014|    1| 276|    Saturday|
|1/19/2014| 4.33|  4.0|  4.0| 14.1| 4.0| 0.0| 1.0|1.0|2014|    1| 276|      Sunday|
|1/20/2014|  6.0| 3.34|  3.3| 11.9|18.0| 2.0|12.0|3.0|2014|    1| 276|      Monday|
|1/21/2014|  2.0| 3.34|  4.0| 42.0|15.0| 2.0| 0.0|1.0|2014|    1| 276|     Tuesday|
+---------+-----+-----+-----+-----+----+----+----+---+----+-----+----+------------+
only showing top 20 rows

In [ ]:
,concat(right(dataum, 4, ), left(dataum, 2,3)

In [30]:
sales_daily = spark.sql(
    """
    select
     to_date(datum, 'M/d/yyyy') as sales_date
    ,left(to_date(datum, 'M/d/yyyy'), 7) as year_month
    ,M01AB as ab_sales
    ,M01AE as ae_sales
    ,N02BA as ba_sales
    ,N02BE as be_sales
    ,N05B as b_sales
    ,N05C as c_sales
    ,r03 as r3_sales
    ,r06 as r6_sales
    from salesdaily
    """
)
sales_daily.createOrReplaceTempView('sales_daily')
sales_daily.show()

+----------+----------+--------+--------+--------+--------+-------+-------+--------+--------+
|sales_date|year_month|ab_sales|ae_sales|ba_sales|be_sales|b_sales|c_sales|r3_sales|r6_sales|
+----------+----------+--------+--------+--------+--------+-------+-------+--------+--------+
|2014-01-02|   2014-01|     0.0|    3.67|     3.4|    32.4|    7.0|    0.0|     0.0|     2.0|
|2014-01-03|   2014-01|     8.0|     4.0|     4.4|    50.6|   16.0|    0.0|    20.0|     4.0|
|2014-01-04|   2014-01|     2.0|     1.0|     6.5|   61.85|   10.0|    0.0|     9.0|     1.0|
|2014-01-05|   2014-01|     4.0|     3.0|     7.0|    41.1|    8.0|    0.0|     3.0|     0.0|
|2014-01-06|   2014-01|     5.0|     1.0|     4.5|    21.7|   16.0|    2.0|     6.0|     2.0|
|2014-01-07|   2014-01|     0.0|     0.0|     0.0|     0.0|    0.0|    0.0|     0.0|     0.0|
|2014-01-08|   2014-01|    5.33|     3.0|    10.5|    26.4|   19.0|    1.0|    10.0|     0.0|
|2014-01-09|   2014-01|     7.0|    1.68|     8.0|    25.0|   16.0|    0.0|     3.0|     2.0|
|2014-01-10|   2014-01|     5.0|     2.0|     2.0|    53.3|   15.0|    2.0|     0.0|     2.0|
|2014-01-11|   2014-01|     5.0|    4.34|    10.4|    52.3|   14.0|    0.0|     1.0|     0.2|
|2014-01-12|   2014-01|     2.0|    0.66|     2.5|    12.0|    8.0|    0.0|     1.0|     1.0|
|2014-01-13|   2014-01|    7.34|    7.66|     6.2|    52.0|    9.0|    0.0|     7.0|     1.0|
|2014-01-14|   2014-01|     6.0|    1.33|    12.3|    33.7|    6.0|    1.0|     0.0|     2.0|
|2014-01-15|   2014-01|     4.0|    2.34|     5.0|    26.7|   12.0|    2.0|     3.0|     3.0|
|2014-01-16|   2014-01|     6.0|     2.0|     4.3|    28.3|   19.0|    1.0|     5.0|     0.0|
|2014-01-17|   2014-01|     2.0|    3.68|     8.3|    20.4|   15.0|    0.0|     6.0|     3.0|
|2014-01-18|   2014-01|     1.0|    5.33|     5.8|    43.2|   15.0|    4.0|     7.0|     2.0|
|2014-01-19|   2014-01|    4.33|     4.0|     4.0|    14.1|    4.0|    0.0|     1.0|     1.0|
|2014-01-20|   2014-01|     6.0|    3.34|     3.3|    11.9|   18.0|    2.0|    12.0|     3.0|
|2014-01-21|   2014-01|     2.0|    3.34|     4.0|    42.0|   15.0|    2.0|     0.0|     1.0|
+----------+----------+--------+--------+--------+--------+-------+-------+--------+--------+
only showing top 20 rows

In [32]:
spark.sql(
    """
    select
    year_month
    ,sum(ab_sales)
    ,sum(ae_sales)
    ,sum(ba_sales)
    ,sum(be_sales)
    ,sum(b_sales)
    ,sum(c_sales)
    ,sum(r3_sales)
    ,sum(r6_sales)
    from
    sales_daily
    group by year_month
    order by year_month
    """
).show()

+----------+------------------+------------------+------------------+------------------+------------+------------+-------------+------------------+
|year_month|     sum(ab_sales)|     sum(ae_sales)|     sum(ba_sales)|     sum(be_sales)|sum(b_sales)|sum(c_sales)|sum(r3_sales)|     sum(r6_sales)|
+----------+------------------+------------------+------------------+------------------+------------+------------+-------------+------------------+
|   2014-01|            127.69| 99.09000000000003|152.09999999999997|            878.03|       354.0|        30.0|        112.0|              48.2|
|   2014-02|            133.32|126.05000000000001|176.99999999999997|            1001.9|       347.0|        31.0|        122.0|              36.2|
|   2014-03|137.44000000000003| 92.95000000000002|147.65499999999997| 779.2750000000001|       232.0|        20.0|        112.0|              85.4|
|   2014-04|113.10000000000004| 89.47500000000002|            125.15| 698.5000000000001|       209.0|        18.0|         97.0|              73.7|
|   2014-05|101.79000000000002|           119.933|132.10000000000002| 628.7800000000001|       270.0|        23.0|        107.0|123.69999999999999|
|   2014-06|112.07000000000002| 94.71000000000002|122.89999999999999|           548.225|       323.0|        23.0|         57.0|             109.3|
|   2014-07|117.06000000000002| 95.01000000000002|             129.3|             491.9|       348.0|        21.0|         61.0|              69.1|
|   2014-08|124.79000000000005|             99.78|             123.8|            547.35|       420.0|        29.0|         37.0| 70.80000000000001|
|   2014-09|            108.78|109.09400000000005|             112.1|            887.82|       399.0|        14.0|        115.0|              58.8|
|   2014-10|101.19500000000001|       108.7513125|          140.5375|1073.1368749999997|    432.0625|      19.625|        160.0|           46.6875|
|   2014-11|            138.08|100.86000000000003|             142.7| 723.8000000000002|       489.0|        19.0|        112.0|              45.2|
|   2014-12|             131.9|           121.401|           111.124|1015.6600000000001|       492.0|        25.0|        163.0|              33.4|
|   2015-01|135.91000000000003|           130.349|             141.0|1044.2400000000002|       463.0|        24.0|       177.25|              42.0|
|   2015-02|115.71000000000001|123.73999999999998|            131.83| 953.2520000000002|       243.0|         9.0|        208.0|              47.0|
|   2015-03|156.04000000000005|           129.386|             133.8|           1084.85|       208.0|        13.0|        170.0|              54.0|
|   2015-04|             154.5|101.11500000000004|             122.1| 940.1700000000002|       192.0|         5.0|         97.0|             112.0|
|   2015-05|            160.02|           119.117|136.04000000000002|             765.9|       194.0|        10.0|        100.0|             159.5|
|   2015-06|151.87000000000003|113.69000000000003|            145.46| 715.4129999999999|       217.0|        12.0|        193.0|125.79999999999998|
|   2015-07|            175.61|113.80999999999999|             125.5| 708.8280000000001|       203.0|         6.0|         60.0|             130.3|
|   2015-08|            181.69|           144.519|             133.4|           790.788|       265.5|        15.0|         45.0|              83.7|
+----------+------------------+------------------+------------------+------------------+------------+------------+-------------+------------------+
only showing top 20 rows